<div th:fragment="add-product" class="modal fade" id="add-pro" data-bs-backdrop="static"
		aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
		tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalToggleLabel">Thêm
						sản phẩm</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<!--<form id="addProductForm" method="post" action="/admin/add-product"
						enctype="multipart/form-data">-->
						<div class="mb-3">
							<label class="form-label">Tên sản phẩm:</label> <input ng-model="form.name"
								type="text" class="form-control" id="namepro" name="namepro"
								required>
						</div>
						<!--<div class="mb-3">
							<label class="form-label">Danh mục:</label> <select
								class="form-select" aria-label="Default select example"
								id="category" name="category" required>
								<option selected>Chọn danh mục</option>
								<c:forEach var="category" items="${categories}">
									<option value="${category.name}">${category.name}</option>
								</c:forEach>
							</select>
						</div>-->
						<!--<div class="mb-3">
							<label class="form-label">Ảnh sản phẩm:</label> <input
								type="file" class="form-control" id="productImage"
								name="productImage" required>
						</div>-->
						<div class="mb-3">
							<label class="form-label">Giá sản phẩm:</label> <input ng-model="form.price"
								type="number" class="form-control" id="proprice" name="proprice"
								required>
						</div>
						<div class="mb-3">
							<label class="form-label">Số lượng hàng:</label> <input ng-model="form.quantity"
								type="number" class="form-control" id="quantitypro"
								name="quantitypro" required>
						</div>
						<div id="error-message" class="text-danger"></div>

					<!--</form>-->
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary"
						ng-click="create()">Thêm</button>
				</div>
			</div>
		</div>
	</div>